nav {
   font-size: 15px;
   text-align: center;
   ba
    }
a {text-decoration: none;

  }

a:link {color:black;

       }

footer { bottom: 0px;
         text-align: center;
         text-emphasis-color: aliceblue;
         background-color: gray;
       }
main   {
        background-color: gray;
}
button {

}

